# Generic ignores
*.log*
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__
*.xls*
.ps4-games.*.json

#Directory Ignores
_backup
.cloud
.storage
deps
node-red
/tts/




#File ignores
/secrets.yaml
/.ps4-games.*.json
/.google.token
/known_devices.yaml
/google_calendars.yaml
/todo.txt

# Ignore files created by IDE's
.vscode
.theia
.Trash*


.shopping_list.json
www/tmp/
watchman_report.txt
watchman_report.txt
