# Generic ignores
*.log*
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__
*.xls*
.ps4-games.*.json

#Directory Ignores
_backup
.cloud
.storage
deps
node-red
/tts/




#File ignores
/secrets.yaml
/.ps4-games.*.json
/.google.token
/known_devices.yaml
/google_calendars.yaml
/todo.txt

# Ignore files created by IDE's
.vscode
.theia
.Trash*


.shopping_list.json
www/tmp/
watchman_report.txt
go2rtc.yaml
go2rtc-1.8.5
zigbee2mqtt/1141-0203-99993001-ATC_v46.zigbee
zigbee2mqtt/configuration.example.yaml
zigbee2mqtt/configuration.yaml
zigbee2mqtt/lywsd03mmc.js
zigbee2mqtt/my_index.json
zigbee2mqtt/secret.yaml
zigbee2mqtt/state.json
zigbee2mqtt/log/2024-04-09.20-58-26/log.txt
zigbee2mqtt/log/2024-04-09.21-10-44/log.txt
zigbee2mqtt/log/2024-04-09.21-31-29/log.txt
zigbee2mqtt/log/2024-04-11.20-02-05/log.txt
zigbee2mqtt/log/2024-04-11.20-02-05/log1.txt
zigbee2mqtt/log/2024-04-11.20-02-05/log2.txt
zigbee2mqtt/log/2024-04-28.06-38-29/log.txt
zigbee2mqtt/log/2024-04-28.10-04-51/log.txt
zigbee2mqtt/log/2024-04-28.10-04-51/log1.txt
ps5-mqtt/credentials.json
zigbee2mqtt/configuration_backup_*.yaml
tmp/snapshot_driveway_driveway.jpg
tmp/snapshot_eekternas_driveway.jpg
tmp/snapshot_voortuin.jpg
