aiohttp>=3.11.8
beautifulsoup4>=4.12.3
cryptography>=43.0.3
ecdsa>=0.19.1
gpsoauth>=2.0.0
httpx>=0.28.0
http-ece>=1.2.1
grpclib>=0.4.7
protobuf>=6.31.1
pycryptodomex>=3.23.0
pyscrypt>=1.6.2
selenium>=4.25.0
undetected-chromedriver>=3.5.5
