packages:
  <<: !include_dir_named ../common
  board: !include ../boards/esp01s.yaml

# Sensor for button
binary_sensor:
  - platform: gpio
    pin:
      number: GPIO0
      mode: INPUT_PULLUP
      inverted: true
    name: "${name} button"
    on_press:
      then:
        - light.toggle: ${id}_light

    internal: true

output:
  # Register the blue LED as a dimmable output ....
  - platform: esp8266_pwm
    id: blue_led
    pin: GPIO13
    inverted: true

  - platform: gpio
    id: relay
    pin: GPIO12

light:
  # ... and then make a light out of it.
  - platform: monochromatic
    name: "${name} button"
    output: blue_led
    id: ${id}_button
    #device_id: "${id}_device"
  - platform: binary
    id: ${id}_light
    name: "${name}"
    output: relay
    #device_id: "${id}_device"
