packages:
  <<: !include_dir_named ../common
  board: !include ../boards/wemos-d1-mini.yaml

switch:
  - platform: gpio
    name: "${name} Relay"
    id: "${id}_relay"
    pin:
      number: 5
    restore_mode: ALWAYS_OFF
    #device_id: "${id}_device"
