substitutions:
  label: esp22
  id: achtertuin_druppel_border
  name: Achtertuin Druppel border
  description: Bedient de druppelslang in de border.
  restore_mode: ALWAYS_OFF
  wifi_static_ip: 192.168.1.225

packages:
  <<: !include_dir_named ./common
  board: !include ./boards/esp8285.yaml

binary_sensor:
  - platform: gpio
    pin:
      number: GPIO5
    name: "${name}"
    on_state:
      - switch.toggle: "${id}_relay"
    internal: true

switch:
  - platform: gpio
    pin:
      number: 4
    id: "${id}_relay"
    name: "${name}"
    restore_mode: $restore_mode
    on_turn_on:
      - delay: 6h
      - switch.turn_off: "${id}_relay"
    #device_id: "${id}_device"
